:root {
  --primary-color: #28a745;
  --secondary-color: #343434;
}

body {
  color: var(--secondary-color);
  font-family: "Cairo", sans-serif;
  /* height: 5000px; */
}

h1 {
  font-size: 36px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 25px;
  }
}

ul {
  margin-bottom: 0;
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.nav-link {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-icons li {
  width: 2rem;
  height: 2rem;
  padding: 5px;
  color: var(--secondary-color);
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons li:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.nav-icons li:first-child {
  background-color: var(--primary-color);
  color: #fff;
}

.header h1 {
  width: fit-content;
}

.header h1 span {
  color: var(--primary-color);
}

.site-span {
  margin-right: auto;
  display: block;
  width: fit-content;
}

.header button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 25px 10px 10px;
  border: 1px solid var(--primary-color);
  padding: 20px 76px;
}

.btn:hover {
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

.sell-box {
  width: 206.09px;
  padding: 20px 76px;
  border-radius: 25px 10px 10px;
}

.sell-box span:not(:last-child) {
  position: relative;
}

.sell-box span:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  background-color: #d9d9d9;
  height: 100%;
  left: -50%;
  transform: translateX(-50%);
}

header .header {
  background: linear-gradient(
    135deg,
    rgba(40, 167, 69, 0.11) 99.98%,
    #ffffff 99.99%,
    #ffffff 100%
  );
  border-radius: 10px;
  padding: 20px 16px;
  height: 660px;
}

header .header .building-img-container {
  width: 200px;
}

header .header .properties {
  border-radius: 30px 15px 15px 15px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  position: absolute;
  width: 75%;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 992px) {
  header .header .properties {
    bottom: -15%;
  }
}

@media (max-width: 992px) {
  header .header .properties .properties-box {
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
  }
}

header .header .properties .properties-box i {
  color: var(--primary-color);
}

header .header .properties .properties-box span {
  position: relative;
  color: #808080;
  margin-right: 2.4rem;
  display: block;
}

header .header .properties .properties-box span::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  right: -31%;
}

@media (min-width: 1200px) {
  header .header .properties .properties-box span::before {
    right: -25%;
  }
}

@media (min-width: 1400px) {
  header .header .properties .properties-box span::before {
    right: -20%;
  }
}

header .header .properties .search-properties {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 992px) {
  header .header .properties .search-properties {
    margin: 0 auto;
  }
}

section {
  padding: 150px 0;
}

@media (max-width: 767px) {
  section {
    padding: 150px 0 0;
  }
}

.heading-component {
  text-align: center;
  color: var(--primary-color);
}

section#about-us .check-icon-box {
  width: 3rem;
  height: 3rem;
  background-color: #28a74530;
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#about-us .about-us-p {
  color: #808080;
  font-weight: 500;
  line-height: 30px;
}

section#about-us button.read-more {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 25px 10px 10px;
  border: 1px solid var(--primary-color);
  padding: 20px 76px;
}

section#about-us button.read-more:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

section#about-us .building-box-1,
section#about-us .building-box-2 {
  background: linear-gradient(
      180deg,
      rgba(40, 167, 69, 0.11) 0%,
      rgba(151, 198, 162, 0.041059) 62.67%,
      rgba(183, 207, 189, 0.0210069) 80.9%,
      rgba(200, 212, 203, 0.0106944) 90.28%,
      rgba(207, 214, 209, 0.00611109) 94.44%,
      rgba(217, 217, 217, 0) 100%,
      rgba(128, 128, 128, 0.19) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 30px 0px 0px 0px;
}

section#about-us .building-box-1 {
  border: 15px solid #ffffff;
  position: absolute;
  bottom: -30%;
  left: 35%;
  transform: translateX(50%);
}

section#properties .slider-item {
  border-radius: 5px 35px 5px 5px;
}

section#properties .slider-item .heart {
  position: absolute;
  background-color: #28a74554;
  color: var(--primary-color);
  width: 45px;
  height: 45px;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

section#properties .slider-item .location {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

section#properties .slider-item .properties-units span {
  color: #808080;
}

section#properties .slider-item .properties-units .properties-units-icon {
  width: 22px;
  height: 22px;
  background-color: #28a7451c;
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#properties .slider-item .know-more button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 25px 10px 10px;
  border: 1px solid var(--primary-color);
}

section#properties .slider-item .know-more button:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

section#properties .slider-item .know-more span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 20px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

.section-counter {
  background-color: var(--primary-color);
  font-weight: 700;
}
